{
  "presets": [
	"stage-2"
  ],
  "plugins": [
  ["babel-plugin-inferno", {"imports": true}],
	"transform-es2015-modules-commonjs",
	"transform-class-properties",
	"transform-object-rest-spread",
	"babel-plugin-syntax-jsx",
    "transform-decorators-legacy",
	"transform-class-properties"
  ],
  "env": {
	"production": {
	  "presets": [
		"es2015",
		"stage-2"
	  ]
	},
	"development": {
	  "presets": [
		"es2015",
		"stage-2"
	  ]
	},
	"test": {
	  "plugins": [
		"transform-es2015-modules-commonjs",
		"transform-class-properties",
		"transform-object-rest-spread",
		"babel-plugin-syntax-jsx",
        "transform-decorators-legacy",
		"transform-class-properties",
		["babel-plugin-inferno", {"imports": true}]
	  ]
	}
  }
}
