{
    "presets": [
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "babel-plugin-syntax-jsx",
        "babel-plugin-inferno",
        ["module-resolver", {
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "alias": {
            "component": "./src/component",
            "factories": "./src/factories",
            "DOM": "./src/DOM"
          }
        }]
    ]
}
