{
  "compact": false,
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-syntax-jsx",
    "babel-plugin-inferno",
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "alias": {
        "inferno": "./src/testing/inferno",
        "inferno-component": "./src/testing/inferno-component",
        "inferno-create-class": "./src/testing/inferno-create-class",
        "inferno-create-element": "./src/testing/inferno-create-element",
        "inferno-hyperscript": "./src/testing/inferno-hyperscript",
        "inferno-router": "./packages/inferno-router/src/index",
        "inferno-server": "./packages/inferno-server/src/index"
      }
    }]
  ]
}
