# http://editorconfig.org
root = true;

[*]
#  Ensure there's no lingering whitespace
trim_trailing_whitespace = true
# Ensure a newline at the end of each file
insert_final_newline = true

[*.js]
# Unix-style newlines
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 80

[*.md]
max_line_length = 0
trim_trailing_whitespace = false