.idea
.vscode

.DS_Store
.rpt2_cache*
.changelog

*.log

build
dist
coverage
node_modules
fixtures/browser/*.cmd

packages/*/dist
packages/*/tmpDist
packages/*/package-lock.json

.rpt2_cache_development
.rpt2_cache_production

scripts/fakedom/*
.swc
