_site
.history
.git
build
.build
.git
.history
.idea
.jshintrc
.nyc_output
.sass-cache
.vscode
build
coverage
jsconfig.json
Gemfile.lock
node_modules
.DS_Store
*.map
*.log
*.log*
*.swp
*~
test/data/result.json

*.orig

packages/*/tsconfig.*
packages/*/.npmignore
packages/*/dist-es
packages/*/dist
test/data/baseline.json
test/data/result.json

.fliphub
.fusebox
.changelog
.npm-debug.log*
package-lock.json
