language: node_js

node_js:
  - 'stable'

# Use container-based Travis infrastructure.
sudo: false

cache:
  directories:
    - node_modules

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  # Log HTTP requests
  - npm config set loglevel http
  - npm install -g npm@3.5.2
   # Instal npm dependecies and ensure that npm cache is not stale
  - npm install
  - npm run server:cov:publish

notifications:
  email: true
