language: node_js
node_js:
- '10'
cache:
  directories:
  - node_modules
  - fixtures/browser/node_modules
  - fixtures/packaging/node_modules
notifications:
  email:
    on_success: change
    on_failure: always
sudo: required
dist: trusty
addons:
  chrome: stable
  firefox: latest
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
jobs:
  include:
  - script:
    - npm run lint
    - npm run build
    - npm run test:package
    - npm run test:coverage
    - npm run test:browser
    - npm run coveralls
  - stage: SauceLabs
    if: "(branch = master) AND (NOT (type IN (pull_request)))"
    script:
    - npm run build:es
    - npm run build:es:dev
    - npm run test:browser:sauce
env:
  global:
  - secure: lwjTW+9OrHdksmv1uPWupwaE02fvQCApxrRe3gCQ62KVeB5LIsY2Giu4F44WJQ3o/WbaSj96ttBZy0jKGVmvo4e2qa4v+Ok/KvH6J1kxUBS7wvmjYOzMOUyswibr+/hhO6d/HdYjkWD8oMhYRFIA/a0gK4qLRoLKe70d0OvwkmqNCyrjH/AYqaAUKuMlmi3iMhOsnVX9M5tyLzJYUvAGo/XyT6mWcTH9HrCmstU60mX1xsme5kR+2PK4ZmwU3D2817Nvor/op5/XhpoGYa98+AJQk9CHJ0J1KavegjwzO1w6809rqJwlBTGAxld/ePlUC3WStMwTbGFb4q0RA4IC6Z8fv8f4uQG8pW/kR5ToEtUHJvQQBM8q+HIl+xEdUa4eJU3b5nP8jql9XcnyafsbTANSADAyTbboyXeh+DegyrxQf5EUGQz/SfojEytes7hNu+Um0pGVAI/VojcxKrptqvsn5IrrEp1305C7OylLVdFvtSM8rox3gUcDqrx8TX4uZDHHiVH/Rm2UGHIHsyijrw7L+VPJLwNPnMLwToh+e0dPcZNFdKPIdm6lQtvcLVR0VU8d+VgwTjQvfpw6kxYX4OeWBI6o5YjC4dqXhB3l9hA5dddM/0vK9K8fSLJLpc/cNmtdLtleqOrC5g9YcWVxNzxUp2peVOpv9gSWXghtzRU=
  - secure: UQYY+yOcPCaFq/7MDSdhGbEkrcrPzd6xE6dWhUz16nQutYcdVsznQo5WHgnjV1efuqLsnEGb0kS0Ugbk36yd+gfTF0YOW3bmMMfOouplqvKf4ZqU6QRh+PI+rIJIxNQtsR0k19ErNjqN8tioPhNFSf2WQp6yd2BA476gCS0p5rfdgjYYQXxPY2gqcrxo5PSyNJFmZzOWxMfsW4O4nB0Wc3IhbIi8nxGNe/2N7CcHPpCnQAFds/fEA/4u0bjqvz34uu2t3ZNb04ic8Ak8f4nWWv9z3DU98be8vf7txwHiJmY0noyqoyvooelmqp8H0vvvi2yrqebPN1Y8GlnZyREsLq90UkunSenM8HDObMA3lkl99KjqPHQDtLAh9NlDGUHnkjz8Mb5s5pySFjBzSIr/xmhui9swo1Hst7bBUD9Ox9QG2wrlz43qbtPiKkMX+j3mICziGaemKW+u/JzvQG+I57db1M0+9c/hGQsTSJi76TP51mGtG9EKofUReGcpHb0U+7hSK6vy3FTHp+7VWNWXEE/IjyM19zP1xYoh0+khlZtClEpjU3MfO0xX3rWv0qePgkDEh5uxz7Gq/ne5Uc2BPlPkrTPLcspJGFMkKTe4kf2WBHCmfm4R9WTrJxN2yWUGPFnG4PchcqpDXwrnBPzBft8zD/zwuRa466NPmCU0myU=
