.link-button {
  background: $button_color;
  font-size: $button_text_size;
  color: $button_text_color;
  line-height: $button_text_line_height;
  text-decoration: none;
  border-radius: $button_border_radius;
  padding: $button_padding;
}
