// Button Primary

$button_color: $brand_green;
$button_border_radius: 40px;
$button_text_size: 22px;
$button_text_color: #FFFFFF;
$button_text_line_height: 22px;
$button_padding: 10px 21px 14px;


// Button Secondary

$button_secondary_color: transparent;
$button_secondary_border: 1px solid #FFFFFF;

.link-button {
  display: inline-block;
  border-radius: $button_border_radius;
  padding: 16px 32px;

  background: $button_color;
  
  font-size: $button_text_size;
  color: $button_text_color;
  text-decoration: none;
  
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: darken($button_color, 10%);
    color: white;
  }
}

.link-outline {
  display: inline-block;
  background: $button_secondary_color;
  font-size: $button_text_size;
  color: $button_text_color;
  text-decoration: none;
  border: $button_secondary_border;
  border-radius: $button_border_radius;
  padding: 16px 32px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: darken($button_text_color, 15%);
    border-color: darken($button_text_color, 15%);
  }
}
