// nav

$nav_size: 16px;
$nav_color: #574C4C;
$nav_line_height: 20px;

// side nav
$nav_side_bg: #FFFEFB;
$nav_side_border_color: #FAE5E5;

nav {
  a {
    font-size: $nav_size;
    color: $nav_color;
    line-height: $nav_line_height;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-top {
  margin-top: 20px;
}

.side-nav {
  min-width: 300px;
  background: #FFFEFB;
  border-right: 1px solid $nav_side_border_color;
  padding: 20px 50px;
  overflow-x: hidden;
  overflow-y: auto;

  &__legend {
    display: block;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    overflow: hidden;

    > img {
      display: block;
      width: 75px;
      height: 73px;
    }
  }

  &__section{
    padding-bottom: 20px;
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
  }

  &__list {
    > a {
      display: block;
      line-height: 1.5;
    }
  }
}
