nav {
  text-align: center;
  margin-top: 20px;

  a {
    font-size: $nav_size;
    color: $nav_color;
    line-height: $nav_line_height;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: $link_color;
      text-decoration: underline;
    }
  }
}

.nav-docs {
  text-align: left;
  margin-top: 10px;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 300px;
  height: 100%;
  background: #FFFEFB;
  border-right: 1px solid $side_nav_border_color;
  padding: 20px 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
