/* Some CSS for the list and cards */

ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0.5rem;
  width: 40rem;
  max-width: 100%;
}

li {
  box-sizing: border-box;
  padding: 0.2rem 0.4rem;
  background: #4A90E2;
  color: white;
  text-align: center;
  border-top: 1px solid #fff;
  overflow: hidden;
}

li:hover {
  background: #3775bb;
}

li.item img {
  background-color: #fff;
  border-radius: 50%;
  margin: 1rem;
  height: 2em;
  width: 2em;
}

li.item .inner {
  display: flex;
  flex-direction: row;
}

li.item .body {
  padding: 0;
  margin-right: 0.5rem;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

li.item h2 {
  color: white;
  margin: 0;
  font-weight: 400;
}

li.item h3 {
  color: white;
  margin: 0;
  font-weight: 400;
}

/* Some general CSS for the example */

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem auto 0;
  display: block;
  background: #35a748;
  color: white;
  border-style: none;
  border-radius: 4px;
  width: 10rem;
} button:hover {
  background: #3775bb;
}

body {
  font-family: helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

h1 {
  transform: rotate(-90deg);
  font-size: 2rem;
  font-weight: 800;
  color: #ddd;
  text-align: center;
  margin: 0.5rem;
  white-space: nowrap;
  width: 2rem;
  transform-origin: 50% 50%;
}

h1 small {
  font-size: 0.5em;
}
h1 small a {
  color: #4A90E2;
  text-decoration: none;
}
h1 small a:hover {
  color: #3775bb;
}

h2 {
  font-size: 1rem;
  font-weight: 100;
  color: #4A90E2;
  text-align: center;
}

h3 {
  font-size: 0.85rem;
  font-weight: 100;
}

p {
  font-size: 0.85rem;
  font-weight: 100;
  color: #888;
  text-align: center;
  margin-top: -0.5em;
  width: 40rem;
  max-width: 100%;
}
