body {
  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
    flex-direction: column;

    > div {
      flex-grow: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

.inferno-docs {
  float: left;
  font-size: 20px;
  color: $brand-primary;
  font-weight: 600;
  margin: 55px 0 0 5px;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  position: relative;
  display: block;
  width: 94px;
  height: 96px;
  background-image: url('../img/inferno.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px auto 40px;
  cursor: pointer;
}

.logo-small {
  display: block;
  width: 73px;
  height: 75px;
  background-image: url('../img/inferno.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1080px;
  height: auto;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: 600px) {
    padding: 0 50px;
  }
}

footer {
  background: $brand-secondary;
  font-size: 14px;
  color: #FFFFFF;
  padding: 16px 0;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  @media (min-width: 480px) {
    padding: 32px 0;
  }
}

.docs-article {
  margin-top: 30px;
  margin-bottom: 30px;
}
