.landing-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background-image: url('../img/stripe.png');
  background-position: left top;
  background-repeat: repeat;
  overflow: hidden;

  .diagonal-shapes {
    width: 100%;
    height: 500px;
    background-image: url('../img/diagonal_shape.png');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -380px;
  }

  > nav.nav-top {
    text-align: center;
  }
}

.tagline {
  width: 100%;
  max-width: 428px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto 35px;
  padding: 0 15px;

  @media (min-width: 420px) {
    font-size: 22px;
  }
}

.button-enclose {
  width: 100%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.key-features {
  margin-bottom: 100px;
  text-align: center;

  li {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-top: 64px;

    .kf-icon {
      float: left;
      margin: 4px 10px 0 0;
    }

    .kf-desc {
      width: 190px;
      margin: 12px 10px 10px 32px;
      clear: both;
    }
  }
}

.inferno-intro {
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;

  li {
    margin-bottom: 40px;
  }
}

.banner-bottom {
  width: 100%;
  background: $brand-primary;
  padding: 32px;
}

.contributors .title,
.license a {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.contributors {
  .icon, .title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 480px) {
  .contributors {
    display: inline-block;
    vertical-align: top;

    .icon {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }

    .title {
      display: inline-block;
      vertical-align: top;
      color: white;
    }
  }

  .license {
    float: right;
    text-align: right;

    div:first-child {
      margin-bottom: 10px;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }
}
