.docs-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  .container {
    margin: 0;

    @media (min-width: 600px) {
      padding: 0 25px;
    }
  }

  .docs-article {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
