$c_brand_red: #ff3232; 
$c_brand_yellow: #ff3232; 
$c_brand_green: #4ba97c;

$c_text_default: #444;
$c_text_light: #8e8e8e;
$c_text_lighter: #f4f4f4;

$c_default_black: #000;
$c_default_grey: #8e8e8e;
$c_default_white: #fff;

$l_border_radius: 5px;
