// Brand assets

$brand_primary: #F95D5D;
$brand_secondary: #4F4F4F;
$brand_green: #5BCF8D;


// Base text

$text_size: 15px;
$text_color: #574C4C;
$line_height: 26px;


// h1

$h1_size: 30px;
$h1_color: #494949;
$h1_line_height: 38px;


// h3

$h3_size: 22px;
$h3_color: #494949;
$h3_line_height: 28px;


// nav

$nav_size: 16px;
$nav_color: $text_color;
$nav_line_height: 20px;


// a tag

$link_color: #D51D1D;


// Button Primary

$button_color: $brand_green;
$button_border_radius: 40px;
$button_text_size: 22px;
$button_text_color: #FFFFFF;
$button_text_line_height: 22px;
$button_padding: 10px 21px 14px;


// Button Secondary

$button_secondary_color: transparent;
$button_secondary_border: 1px solid #FFFFFF;
